<div class="main-container">
  <div class="calculator-container">
    <div class="screen-result-container" style="min-height: 100px;">
      <div class="screen-container" fxLayout="column">
        <div class="input">
          {{textoEmTela}}
        </div>
        <div class="output" fxLayoutAlign="end">
          <span>{{output}}</span>
        </div>
      </div>
    </div>
    <div class="buttons-container">

      <div class="button-row" fxLayout="row">
        <button class="button" (click)="alocarNumeroEmMemoria('7')">
          <span>7</span>
        </button>
        
        <button class="button" (click)="alocarNumeroEmMemoria('8')">
          <span>8</span>
        </button>

        <button class="button" (click)="alocarNumeroEmMemoria('9')">
          <span>9</span>
        </button>

        <button class="button" (click)="alocarOperacaoEmMemoria('*')">
          <span>&#215;</span>
        </button>
      </div>

      <div class="button-row" fxLayout="row">
        <button class="button" (click)="alocarNumeroEmMemoria('4')">
          <span>4</span>
        </button>
        
        <button class="button" (click)="alocarNumeroEmMemoria('5')">
          <span>5</span>
        </button>

        <button class="button" (click)="alocarNumeroEmMemoria('6')">
          <span>6</span>
        </button>
        <button class="button" (click)="alocarOperacaoEmMemoria('-')" style="padding: 5px 28px">
          <span>-</span> 
        </button>
      </div>

      <div class="button-row" fxLayout="row">
        <button class="button" (click)="alocarNumeroEmMemoria('1')">
          <span>1</span>
        </button>
        
        <button class="button" (click)="alocarNumeroEmMemoria('2')">
          <span>2</span>
        </button>

        <button class="button" (click)="alocarNumeroEmMemoria('3')">
          <span>3</span>
        </button>
        <button class="button" (click)="alocarOperacaoEmMemoria('/')">
          <span>÷</span>
        </button>
      </div>

      <div class="button-row" fxLayout="row">
        <button class="button" (click)="alocarNumeroEmMemoria('.')"style="padding: 5px 28px;">
          <span>.</span>
        </button>
        
        <button class="button" (click)="alocarNumeroEmMemoria('0')">
          <span>0</span>
        </button>

        <button class="button" (click)="calcularResultado()">
          <span>=</span>
        </button>

        <button class="button" (click)="alocarOperacaoEmMemoria('+')">
          <span>+</span>
        </button>
      </div>

    </div>
  </div>
</div>

<div class="debug-container">
  <div>
    <h3>Vetores de números:</h3>
    <div *ngFor="let numero of arrayValores; index as i;" class="container-numero debug">
      {{i+1}} | {{numero}} 
    </div>
  </div>

  <div>
    <h3>Vetores de operações:</h3>
    <div *ngFor="let operacao of arrayOperacoes; index as i;" class="container-operacao debug">
      {{i+1}} | {{operacao}} 
    </div>
  </div>
  
</div>

<style>

  .debug-container div h3 {
    margin: 0;
  }

  .debug-container {
    margin-top: 20px;
    display: flex;
    width: 380px;
    justify-content: space-between;
    padding: 3px 10px 3px 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;

  }

  .debug {
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
  }
</style>